In [30]:
import pandas as pd
import numpy as np

data = {
    'Company Name': ['Tom', 'Jack', 'nick', 'juli'],
    'Source': ['LinkdeIn', 'Angel.co','LinkdeIn', 'Angel.co'],
    'Open Jobs': ['NLP', 'Open Cv', 'ML', 'ML'],
    'Application Status': ['Not applied','Not applied','Applied','Not applied'],
    'JOB URL': ['','','',''],
    'Latest Update' : ['','','','']
    
}
  
df = pd.DataFrame(data, index=None)
df

  Company Name  Found at Open Jobs Application Status JOB URL Latest Update
0          Tom  LinkdeIn       NLP        Not applied
1         Jack  Angel.co   Open Cv        Not applied
2         nick  LinkdeIn        ML            Applied
3         juli  Angel.co        ML        Not applied

In [29]:
df["Company Name"][df["Open Jobs"]=="ML"]

2    nick
3    juli
Name: Company Name, dtype: object

In [27]:
data["Company Name"][1]

'Jack'

# Job Application Tracker